<style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
        font-family: arial;
        background-color: #22d579;
        padding: 20% 5%;
        color: #fff;
    }
    h1{
        text-align: center;
        line-height: 34px;
    }
    
    </style>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Newsletter Subsscription</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>
<body>
    
        <h1>YOU HAVE SUCCESSFULLY SUBSCRIBED.</h1>
        
</body>
</html>